* {
    font-family: Impact, monospace;
    font-size: 1.3rem;
}

body {
    background: darkslategrey;
}

.card {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(35, 157, 57);

    text-align: center;
    font-size: smaller;

    border-radius: 10%;
    border: none;
    margin: 2px;
    transition:.25s;
    opacity: 0.9;
    transform: rotateY(180deg);

    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}

.card.revealed {
    opacity: 1;
    transform: rotateY(0deg);
    background-color: darkgrey;
}

.card.one {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Minesweeper_1.svg/600px-Minesweeper_1.svg.png");
}

.card.two {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Minesweeper_2.svg/1200px-Minesweeper_2.svg.png);
}

.card.three {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Minesweeper_3.svg/1200px-Minesweeper_3.svg.png);
}

.card.four {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Minesweeper_4.svg/1200px-Minesweeper_4.svg.png);
}

.card.five {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Minesweeper_5.svg/1200px-Minesweeper_5.svg.png);
}

.card.six {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Minesweeper_6.svg/1200px-Minesweeper_6.svg.png);
}

.card.seven {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Minesweeper_7.svg/1200px-Minesweeper_7.svg.png);
}

.card.eight {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Minesweeper_8.svg/1200px-Minesweeper_8.svg.png);
}

.card.mine {
    background-image: url(https://is4-ssl.mzstatic.com/image/thumb/Purple122/v4/72/bd/b0/72bdb0d0-9e2d-c219-f5f6-8aca1a8a52e4/mzl.lltjgvlh.png/246x0w.png);
}

.card.flagged {
    opacity: 1;
    transform: rotateY(0deg);
    background-image: url(https://www.google.com/logos/fnbx/minesweeper/flag_icon.png);
}

.grid {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(9, 1fr);
    border-radius: 10px;
    width: calc(70vh);
}

.grid > div::before {
    content: "";
    padding-bottom: 100%;
    display: block;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
    flex-wrap: wrap;
    align-items: center;
}

.menuButton {
    padding: 5px 0.5em ;
    border: 0 solid gray;
    background-color: rgba(128, 128, 128, 0.233);
    margin: 5px;
    cursor: pointer;
    border-radius: 0.5em;
    font-size:1em;
}

.menuButton:hover {
    color: white;
    background: black;
}

.gridwrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 0s;
    transition: all 0s;

    visibility: hidden;
    animation: fadeOut 0.5s;
    animation-fill-mode: forwards;
}
#overlay * {
    pointer-events: none;
}

#overlay.active {
    visibility: visible;
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}

#overlayin {
    padding: 1em 4em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px black;
}

#overlayin p {
    text-align: center;
    font-size: 1em;
}

p.big {
    font-size: 2em !important;
}

p.darker {
    color: #aaa;
}

p.glow {
    animation: glow 1s infinite alternate-reverse;
}

@keyframes glow {
    from { text-shadow: 0 0 20px rgb(255, 255, 0); }
    to { text-shadow: 0 0 20px rgb(255, 115, 0); }
}

#overlay.active #overlayin {
    opacity: 0;
    animation: spinIn 1s ease-in-out;
    animation-fill-mode: forwards;
}

#overlayin * {
    margin: 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes spinIn {
    from { transform: scale(0.1) rotateX(0deg) ; opacity: 0; }
    to { transform: scale(1) rotateX(360deg) ;  opacity: 1; }
}

.status {
    margin-top: 5px;
    text-align: center;
    color: gray;
}