.backdrop {
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;;
}
/*************************************************************************
Header styling
*************************************************************************/
.header {
    object-fit: cover;
    width: 100%;
    background-color: #262C3A;
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

/*************************************************************************
Navbar styling
*************************************************************************/

.navbar {
    overflow:hidden;
    background-color: darkslategrey;
    margin: 2px;
}

.navbar ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategrey;
}

.navbar li {
    outline: limegreen;
    outline-style: outset;
    outline-width: 5px;
    float: left;
}

.navbar li:first-child {
    border-left: none;
}

.navbar a {
    display: block;
    padding: 10px 14px;
    color: white;
    font-size: x-large;
}

.navbar a:hover {
    background-color: lightslategray;
}

/*************************************************************************
Content styling
*************************************************************************/

.content {
    margin: 20px;
    font-size: large;
}

.content h1 {
    text-decoration: underline;
}

.content table {
    border-collapse: collapse;
}

.content td, th {
    border: 2px solid black;
    padding: 10px 14px;
    border-radius: 3px;
}

.content th {
    background: rgba(119, 136, 153, 0.4);
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: darkslategrey;
}

.content a:hover {
    text-decoration: underline;
    color: lime;
}

.content p {
    padding: 4px;
}

.code {
    font-family: monospace;
    border: 3px solid darkslategrey;
    border-radius: 5px;
    white-space: pre-line;
    background: rgba(119, 136, 153, 0.4)
}

/*************************************************************************
Extra styling
*************************************************************************/

.icon {
    width: 40px;
    height: 40px;
}
